body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: #343434;
}
.container{
    width: 26%;
}
.card{
    border-radius: 50px;
    background: #343434;
    color: #9c9c9d;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    padding: 3%;
    display: grid;
    place-items: center;
}
.card h4{
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0;
}
img #icon{
    width: 20%;
}
h6 #weather{
    text-transform: capitalize;
}
p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
#btn{
    background-color: #191b1b;
    color: #9c9c9d;
    margin-top: 5px;
    border: 2px solid #191b1b;
    border-radius: 5px;
}
input{
    background-color: #9c9c9d;
    width: 150px;
    height: 40px;
    text-align: center;
    border: 2px solid #191b1b;
    border-radius: 5px;
}
button.refresh{
    display: block;
    width: 100px;
    margin: 10px auto;
    background: transparent;
    border: 0;
    color: #9c9c9d;
    font-size: 30px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 4px 10px #252525, 5px 5px 18px #4a4a4a;
}
button.refresh:hover{
    box-shadow: inset 10px 4pc 10pc #252525, inset 5px 5px 18px #4a4a4a;
}

@media (max-width:550px) {
    .container{
        margin-right: 190px;
    }
    .card{
        width: 250px;
    }
}

@media (max-width:780px) {
    .container{
        width: 35%;
    }
}